<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>


    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Last Name...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
<br>



 1.Get first user: <%= @users.first.first_name%>  <%= @users.first.last_name%><br>
    2.Get last user: <%=@users.last.first_name%> <%= @users.last.last_name%><br>
 3.
<table>

  <tbody>

    <%  @users.limit(10).each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

4. Get the first 100 Users
<table>
  <tbody>



    <%  @users.limit(100).each do |user| %>
    <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
5. Get100Users orderedbylastname

  <table>
  <tbody>



    <%  @users.limit(100).order(:last_name).each do |user| %>
    <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  6. Remove users who are using a Yahoo Email

 <br>
  <table>
  <tbody>


